* {
	font-family: courier;
	font-size: 13px;
}
select {
	background-color: black;
	border-style: none;
	color: white;
}
textarea {
	background-color: black;
	color: white;
	border-style: dashed;
	height: 250px;
	width: 100%;
}
.graph-border {
	background: #FFF;
	border: 1px solid #DDD;
	height: 16px;
}
.graph-bar {
	text-align: left;
	color: black;
	height: 16px;
}
.grid {
	padding: 0;
	border-spacing: 1px;
	border-collapse: separate;
	border: 1px solid #e0e0e0;
	background: #fff;
	width: 80%;
	color: black;
}
.grid td {
	padding: 2px;
	margin: 0px;
}
.graph {
	color: white;
	background: black;
	font-weight: bold;
}

.grid .header {
	color: black;
	background: #e7e7e7;
}
.grid .header td {
	font-weight: bold;
}
.grid .footer {
	background: #f0f0f0;
}
.grid .odd {
	background: #f7f7f7;
}
.grid .even {
	background: #fff;
}
.grid .clients {
	font-style:italic;
}
input {
	font-family:courier; 
	font-weight:bold; 
	color:gray; 
	border-style:dotted;
}
#version {
	text-align: right;
	margin: 5px 10px -12px;
}
.tab ul {
	margin-left: -40px;
}
.tab li {
	list-style: none;
	float: left;
}
.tab ul a {
	display: block;
	padding: 6px 10px;
	text-decoration: none!important;
	margin: 1px;
	margin-left: 0;
	color: #FFF;
	background: green;
}
.tab ul a:hover {
	color: #FFF;
	background: #111;
}
.tab ul a.selected {
	margin-bottom: 0;
	color: #000;
	background: snow;
	border-bottom: 1px solid snow;
	cursor: default;
}
.tab div {
	padding: 10px 5px;
	clear: left;
	background: snow;
	width: 80%;
	color: black;
}
.tab div a {
	color: #000;
	font-weight: bold;
}

.navbar {
	top: 10px;
	min-width: 100%;
	background: green;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	text-align: center;
	color: black;
}